<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">User Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of loadedUsers; let i =index">
      <th scope="row">{{i}}</th>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.username}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.email}}</td>
      <td>{{user.password}}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-end mr-5 my-3">
  <button type="submit" mat-raised-button color="primary">Save</button>
</div>
