<div class="container d-flex justify-content-center">
  <form [formGroup]="signupForm">
    <div id="user-data">
      <div class="form-group mb-2">
        <label for="firstname">First Name:
        </label>
        <input type="text" id="firstname" formControlName="firstname" class="form-control">
        <span *ngIf="checkForm('firstname')" class=" help-block">
          Please, enter firstname
        </span>
      </div>
      <div class="form-group mb-2">
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" formControlName="lastname" class="form-control">
        <span *ngIf="checkForm('lastname')" class="help-block">
          Please, enter lastname
        </span>
      </div>
      <div class="form-group mb-2">
        <label for="username">User Name:</label>
        <input type="text" id="username" formControlName="username" class="form-control">
        <span *ngIf="checkForm('username')" class="help-block">
          Please, enter username
        </span>
      </div>
      <div class="form-group mb-2">
        <label for="phone">Phone:</label>
        <input type="phone" id="phone" formControlName="phone" class="form-control">
        <small class="text-secondary">
          Only numbers are required
        </small>
        <br>
        <span *ngIf="checkForm('phone')" class="help-block">
          Valid number phone is required
        </span>
      </div>
      <div class="form-group mb-2">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" class="form-control">
        <span *ngIf="checkForm('email')" class="help-block">
          Valid email is required
        </span>
      </div>
      <div class="d-flex justify-content-start">
        <div class="form-group mb-2 mr-3">
          <label for="passsword">Password:</label>
          <input type="password" name="password" id="passsword" formControlName="password" class="form-control"
            autocomplete="on">
          <small class="text-secondary">
            Require 6 characters at least
          </small>
          <br>
          <span *ngIf="checkForm('password')" class="help-block">
            Valid password is required
          </span>
        </div>
        <div class="form-group mb-2">
          <label for="confirm_password">Confirm password:</label>
          <input type="password" name="confirm_password" id="confirm_password" formControlName="confirm_password"
            class="form-control" autocomplete="on">
          <span *ngIf="checkForm('confirm_password')" class="help-block">
            <span *ngIf="signupForm.get('confirm_password').errors['required']">Repeat password</span>
            <span *ngIf="signupForm.get('confirm_password').errors['compare']" class="bg-dander">Password must
              match</span>
          </span>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end my-3">
      <button mat-raised-button color="primary" type="button" (click)="resetAddress()">Clear</button>
      <button mat-raised-button matStepperNext color="primary" type="button" (click)="sendUserProfile()" class="ml-2"
        [disabled]="!signupForm.valid">Next</button>
    </div>
  </form>
</div>
