#sidebar-wrapper {
  min-height: 100vh;
  background-color: white;
}

#sidebar-wrapper .list-group {
  width: 180px;
  text-align: center;
  font-size: 14px;
}

#sidebar-wrapper .list-group a:hover {
  box-sizing: border-box;
  background-color: rgb(219, 219, 224);
}

.list-group-item.active {
  background-color: rgb(241, 241, 247);
  border: none;
  color: black;
}
