#sidebar-wrapper {
    min-height: 100vh;
    background-color: white!important;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
    text-align: center;
    font-size: 1.2rem;
  }

  #sidebar-wrapper .list-group a:hover {
    box-sizing: border-box; 
  }
  .list-group-item.active {
    background-color: rgb(206, 205, 202);
    border: none;
    color: rgb(255, 255, 255);
  }