<h4 class="mt-3 mx-5 d-block font-weight-bold">Sign Up</h4>
<div class="container d-flex justify-content-center">
  <mat-horizontal-stepper linear #stepper>
    <mat-step сopmleted=false>
      <ng-template matStepLabel>Fill out user data</ng-template>
      <app-create-user (sendUserProfileEvent)="recieveFromCreateUser($event)"></app-create-user>
    </mat-step>
    <mat-step сopmleted=false>
      <ng-template matStepLabel>Fill out address</ng-template>
      <app-address (sendUserAddressEvent)="recieveFromAddress($event)"></app-address>
    </mat-step>
    <mat-step сopmleted=false>
      <ng-template matStepLabel>Done</ng-template>
      <div class="d-flex justify-content-center flex-column">
        <div class="p-3 border rounded data-box d-flex flex-column">
          <p> Firstname: <span>{{ getUserValue('firstname')}}</span></p>
          <p> Lastname: <span>{{ getUserValue('lastname')}}</span></p>
          <p> Username: <span> {{ getUserValue('username')}}</span> </p>
          <p> Phone: <span>{{ getUserValue('phone')}} </span> </p>
          <p> Email <span> {{ getUserValue('email')}}</span></p>
          <p> Password: <span>{{ getUserValue('password')}} </span></p>
        </div>
        <div class="border p-3 rounded d-flex flex-column">
          <p> Type of address: <span>{{ getUserValue('typeOfAddress')}} </span></p>
          <p> Country: <span> {{ getUserValue('country')}}</span> </p>
          <p> City: <span>{{ getUserValue('city')}} </span> </p>
          <p> Street: <span>{{ getUserValue('street')}} </span></p>
          <p> Postal code: <span> {{ getUserValue('postalCode') }}</span></p>
        </div>
        <div class="border p-3 rounded d-flex flex-column" *ngFor="let addr of getUserValue('additionalAddress')">
          <p> Type of address: <span>{{addr.typeOfAddress}}</span></p>
          <p> Country: <span> {{addr.country}}</span> </p>
          <p> City: <span>{{ addr.city}} </span> </p>
          <p> Street: <span>{{ addr.street}} </span></p>
          <p> Postal code: <span> {{ addr.postalCode }}</span></p>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="onSave()" class="ml-2">Save</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
